//简易demo,粗暴了哈
*{
	margin: 0;
	padding: 0;
}
.clearfix::after{
	content: "";
	display: block;
	clear: both;
}
body{
	margin:0;
	padding:0;
	font-family:"Helvetica";
}
h1{
	float:left;
	margin-left:100px;
	margin-top:30px;
	font-family:serif;
}
#imagegallery{
	list-style:none;
	margin-left:25em;
}

a{
	color:#333;
	text-decoration:none;
}
li{ 
	float:left;
	margin-top:30px;
}
li a{ 
	display:block;
	text-align:center;
	height:30px;
	line-height:30px;
	width:100px;
	background-color:#efefef;
	margin-bottom:1px;
}
li a:hover{
	background-color:#F60;
	color:#fff
}
#placeholder{
	width:65%;
	height:376px;
	margin-left:27em;
	margin-top:30px;
	position:relative;
}
p{
	margin-left:80%;
	margin-top:20px;	
}




