*{
	margin:0;
	padding:0;
}
body{
	font-family:"Microsoft Yahei","Hiragino Sans GB","Helvetica Neue",Helvetica,tahoma,arial,Verdana,sans-serif,"WenQuanYi Micro Hei","\5B8B\4F53";
}
li{
	list-style:none;
}
a{
	text-decoration:none;

}
.wrap{
	width:100%;
	position:relative;
}
.clearfix:after { 
    content:"\200B"; 
    display:block; 
    height:0; 
    clear:both; 
} 
.clearfix {*zoom:1;}/*IE/7/6*/

.header{
	width:100%;
	background-color:#8F8E91;
}
.header a{
	display:block;
	width:20%;
	padding-left:5%;
	font-size:30px;
	color:#fff;
	text-decoration:none;
}
.left-list{
	float:left;
	position:relative;
	width:20%;
	background-color:#E6E6E6;
	border:1px solid #D1D1D1;
}

.left-list h2{
	margin:10px;
	font-size:18px;
}

.left-list dl dt ,
.left-list dl dd{
	margin:5px 10px;
}
.left-list dl dd{
	padding-left:30px;
}
.add-list{
	width:100%;
	height:30px;
	line-height:30px;
	position:absolute;
	bottom: 0;
	background-color:#8F8E91;
}
.add-list a{
	padding-left:50px;
	text-decoration:none;
	color:#fff;
}
.del{
	float:right;
	cursor:pointer;
}

/* 二级分栏 */
.mid-list{
	float:left;
	position:relative;
	width:15%;
	border:1px solid #D1D1D1;
	border-left:none;
}
.mid-list .nav{
	height:30px;
	line-height:30px;
	text-align:center;
	background-color:#E6E6E6;
}
.mid-list .nav a{
	color:#000;
	padding:0 5px;

}

.mid-list .task{
	position:relative;
	font-size:13px;
}
.mid-list .task h3{
	/* background-color:#D1AC59; */
	padding-left: 10px;
}
.mid-list .task  ul{
	padding-left:20px;
}


/* text内容区域 */
.text{
	float:left;
	width:64.7%;
	background-color:#ccc;
}



















