@import url(reset.css);
.clearfix:after {
  content: "\200B";
  display: block;
  height: 0;
  clear: both; }

.clearfix {
  *zoom: 1; }

/*IE/7/6*/
.header {
  width: 100%;
  height: 45px;
  position: fixed;
  background: #0767c8;
  background: linear-gradient(to bottom, #086ed5, #055db5);
  -webkit-background: linear-gradient(to bottom, #086ed5, #055db5);
  border-bottom: 1px solid #044e97;
  box-shadow: 0 1px 2px rgba(0, 0, 0, 0.25), inset 0 1px 0 rgba(255, 255, 255, 0.15); }
  .header a.logo {
    width: 61px;
    height: 100%;
    display: block;
    float: left;
    text-indent: -9999px;
    background: url("../img/logo.png") no-repeat;
    background-position: 0 8px;
    background-size: 61px 30px; }
  .header .user {
    width: 120px;
    height: 100%;
    line-height: 45px;
    margin-left: 15px;
    float: right;
    position: relative;
    text-indent: 46px;
    font-size: 14px; }
    .header .user img {
      position: absolute;
      left: 0;
      top: 9px;
      left: 10px;
      border: 1px solid rgba(0, 0, 0, 0.1);
      border-radius: 3px;
      box-shadow: 0 1px 0 rgba(255, 255, 255, 0.1); }
  .header .btn_q {
    width: 66px;
    height: 32px;
    margin-top: 7px;
    line-height: 26px;
    color: #FFF;
    font-size: 14px;
    float: right;
    background: linear-gradient(to bottom, #0e7bef, #0d73da);
    -webkit-background: linear-gradient(to bottom, #0e7bef, #0d73da);
    border: 1px solid #045bb2;
    border-radius: 4px;
    box-shadow: 0 1px 2px rgba(0, 0, 0, 0.05), inset 0 1px 1px rgba(255, 255, 255, 0.15); }
  .header div.search {
    width: 367px;
    margin: 7px 0 0 12px;
    float: left; }
    .header div.search form {
      width: 100%;
      position: relative; }
    .header div.search .input_search {
      width: 100%;
      padding: 7px 50px 7px 10px;
      box-sizing: border-box;
      color: #49525c;
      font-size: 14px;
      background-color: #e1eaf2;
      border: 1px solid #045bb2;
      border-radius: 4px;
      box-shadow: inset 0 1px 3px rgba(0, 0, 0, 0.2), 0 1px 0 rgba(255, 255, 255, 0.1); }
    .header div.search .btn_search {
      width: 40px;
      height: 100%;
      position: absolute;
      top: 0;
      right: 0;
      color: inherit;
      outline: 0;
      background: linear-gradient(to bottom, #0e7bef, #0d73da);
      -webkit-background: linear-gradient(to bottom, #0e7bef, #0d73da);
      border: 1px solid #045bb2;
      box-shadow: 0 1px 2px rgba(0, 0, 0, 0.05), inset 0 1px 1px rgba(255, 255, 255, 0.15);
      border-top-right-radius: 4px;
      border-bottom-right-radius: 4px; }

.nav {
  width: 234px;
  height: 100%;
  float: left; }

.nav_content {
  line-height: 45px;
  margin-left: 18px; }
  .nav_content li {
    float: left; }
  .nav_content a {
    width: 54px;
    height: inherit;
    display: block;
    color: #FFF;
    text-align: center;
    text-decoration: none;
    font-size: 14px;
    text-shadow: 0 1px 1px rgba(0, 0, 0, 0.1); }

.wrap {
  width: 960px;
  height: 100%;
  margin: 0 auto;
  color: #FFF; }

.user:hover .user_info {
  display: block; }

.user_info {
  width: 100%;
  position: absolute;
  top: 45px;
  display: none; }
  .user_info li a {
    width: 100%;
    height: 40px;
    overflow: hidden;
    color: #FFF;
    display: block;
    background-color: #0267cc;
    text-decoration: none;
    text-indent: 0; }
    .user_info li a:hover {
      background-color: #095fb3; }
  .user_info li:last-child > a {
    border-radius: 0 0 4px 4px; }
  .user_info i {
    width: 20px;
    height: 20px;
    margin: 0 11px 0 15px;
    vertical-align: -5px;
    display: inline-block;
    background: url("../img/icon-zhihu.png") no-repeat;
    background-size: 308px 250px; }
  .user_info .icon_home {
    background-position: -5px -7px; }
  .user_info .icon_letter {
    background-position: -5px -36px; }
  .user_info .icon_set {
    background-position: -5px -60px; }
  .user_info .icon_out {
    background-position: -5px -87px; }

/*# sourceMappingURL=style.css.map */
